urxvt*termName: rxvt-256color
urxvt*background: #000000
urxvt*foreground: #cccccc
urxvt*font: xft:xos4 Terminus:size=9:antialias=true

urxvt*scrollBar: false

urxvt*transparent: true
urxvt*shading: 20

