snippet header
-------------------------------------------------------------------------------
-- File: `!p snip.rv = snip.fn`
-- Author: Kevin Cuzner
--
-- Purpose:
-- $0
-------------------------------------------------------------------------------
endsnippet

snippet function
function $1 ($2) return $3 is
begin -- $1
	$0
end $1;
endsnippet

snippet proc
procedure $1 ($2) is
begin -- $1
	$0
end $1;
endsnippet

snippet package
package ${1:`!p snip.rv = snip.basename`} is

	$0

end package $1;
endsnippet

snippet body
package body ${1:`!p snip.rv = snip.basename`} is

	$0

end package body $1;
endsnippet

snippet tb
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-- Component Testbench
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

--synthesis translate_off

library ieee;
	use ieee.std_logic_1164.all;
	use ieee.numeric_std.all;

entity ${2:tb_${1:`!p snip.rv = snip.basename`}} is
end entity;

architecture test of $2 is

	signal StopSim : boolean := false;

begin

	StimProc: process
	begin
		wait for 10 us;
		StopSim <= true;
		wait;
	end process StimProc;

end test;

--synthesis translate_on
endsnippet

snippet block
$1: block is
begin -- block $1

	$0

end block $1;
endsnippet

